<div class="demo-showcase">
  <div class="tabs">
    <div class="tabs__list" role="tablist">
      <button class="tabs__tab is-active">Available</button>
      <button class="tabs__tab">Also Available</button>
      <button class="tabs__tab" disabled>Coming Soon</button>
      <button class="tabs__tab">Another Tab</button>
    </div>
    <div class="tabs__panels">
      <div class="tabs__panel is-active">
        <p>This tab is available.</p>
      </div>
      <div class="tabs__panel">
        <p>This tab is also available.</p>
      </div>
      <div class="tabs__panel">
        <p>This content is coming soon.</p>
      </div>
      <div class="tabs__panel">
        <p>Another available tab.</p>
      </div>
    </div>
  </div>
</div>
