<!-- List: Ordered -->
<div class="demo-showcase">
  <ol class="list list--ordered list--bordered" style="max-width: 400px;">
    <li class="list__item">
      <span class="list__title">Create an account</span>
    </li>
    <li class="list__item">
      <span class="list__title">Set up your profile</span>
    </li>
    <li class="list__item">
      <span class="list__title">Invite team members</span>
    </li>
    <li class="list__item">
      <span class="list__title">Start collaborating</span>
    </li>
  </ol>
</div>
