<!-- List: With Avatars and Descriptions -->
<div class="demo-showcase">
  <ul class="list list--bordered" style="max-width: 450px;">
    <li class="list__item">
      <img src="https://i.pravatar.cc/80?img=1" alt="" class="list__avatar">
      <div class="list__content">
        <p class="list__title">Sarah Johnson</p>
        <p class="list__description">Product Designer</p>
      </div>
      <span class="list__meta">Online</span>
    </li>
    <li class="list__item">
      <img src="https://i.pravatar.cc/80?img=2" alt="" class="list__avatar">
      <div class="list__content">
        <p class="list__title">Mike Chen</p>
        <p class="list__description">Software Engineer</p>
      </div>
      <span class="list__meta">Away</span>
    </li>
    <li class="list__item">
      <img src="https://i.pravatar.cc/80?img=3" alt="" class="list__avatar">
      <div class="list__content">
        <p class="list__title">Emily Davis</p>
        <p class="list__description">Marketing Manager</p>
      </div>
      <span class="list__meta">Offline</span>
    </li>
  </ul>
</div>
