<!-- Avatar: Avatar Group -->
<div class="demo-showcase">
  <div class="avatar-group">
    <div class="avatar">
      <img src="https://i.pravatar.cc/150?img=11" alt="User" class="avatar__image">
    </div>
    <div class="avatar">
      <img src="https://i.pravatar.cc/150?img=12" alt="User" class="avatar__image">
    </div>
    <div class="avatar">
      <img src="https://i.pravatar.cc/150?img=13" alt="User" class="avatar__image">
    </div>
    <div class="avatar">
      <img src="https://i.pravatar.cc/150?img=14" alt="User" class="avatar__image">
    </div>
    <div class="avatar-group__more">+5</div>
  </div>
</div>
