<!-- Avatar: With Initials -->
<div class="demo-showcase">
  <div class="avatar">
    <span class="avatar__initials">JD</span>
  </div>
  <div class="avatar avatar--primary">
    <span class="avatar__initials">JS</span>
  </div>
  <div class="avatar avatar--success">
    <span class="avatar__initials">BW</span>
  </div>
  <div class="avatar avatar--warning">
    <span class="avatar__initials">AK</span>
  </div>
  <div class="avatar avatar--danger">
    <span class="avatar__initials">MR</span>
  </div>
</div>
