<!-- Avatar: Shapes -->
<div class="demo-showcase">
  <div class="avatar">
    <img src="https://i.pravatar.cc/150?img=4" alt="User" class="avatar__image">
  </div>
  <div class="avatar avatar--rounded">
    <img src="https://i.pravatar.cc/150?img=5" alt="User" class="avatar__image">
  </div>
  <div class="avatar avatar--square">
    <img src="https://i.pravatar.cc/150?img=6" alt="User" class="avatar__image">
  </div>
</div>

<div class="demo-showcase" style="margin-top: var(--space-4);">
  <span style="color: var(--text-tertiary); font-size: var(--font-size-sm);">Circle (default)</span>
  <span style="color: var(--text-tertiary); font-size: var(--font-size-sm);">Rounded</span>
  <span style="color: var(--text-tertiary); font-size: var(--font-size-sm);">Square</span>
</div>
