<!-- Avatar: Sizes -->
<div class="demo-showcase">
  <div class="avatar avatar--xs">
    <span class="avatar__initials">XS</span>
  </div>
  <div class="avatar avatar--sm">
    <span class="avatar__initials">SM</span>
  </div>
  <div class="avatar avatar--md">
    <span class="avatar__initials">MD</span>
  </div>
  <div class="avatar avatar--lg">
    <span class="avatar__initials">LG</span>
  </div>
  <div class="avatar avatar--xl">
    <span class="avatar__initials">XL</span>
  </div>
  <div class="avatar avatar--2xl">
    <span class="avatar__initials">2X</span>
  </div>
</div>
