<!-- Search: With Recent Searches -->
<div class="demo-showcase">
  <div style="max-width: 500px;">
    <div class="search search--dropdown is-open">
      <svg class="search__icon" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"/>
      </svg>
      <input type="search" class="search__input" placeholder="Search...">
      <div class="search__dropdown">
        <div class="search__section">
          <div class="search__recent">
            <span class="search__section-title" style="padding: 0;">Recent</span>
            <button class="search__recent-clear">Clear all</button>
          </div>
          <ul class="search__results">
            <li>
              <a href="#" class="search__result">
                <svg class="search__result-icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"/>
                </svg>
                <div class="search__result-content">
                  <div class="search__result-title">User settings</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="search__result">
                <svg class="search__result-icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"/>
                </svg>
                <div class="search__result-content">
                  <div class="search__result-title">API documentation</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="search__result">
                <svg class="search__result-icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"/>
                </svg>
                <div class="search__result-content">
                  <div class="search__result-title">Component library</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
