<!-- Kbd: Mini Keyboard -->
<div class="demo-showcase">
  <div class="keyboard">
    <div class="keyboard__row">
      <kbd class="kbd">Q</kbd>
      <kbd class="kbd">W</kbd>
      <kbd class="kbd">E</kbd>
      <kbd class="kbd">R</kbd>
      <kbd class="kbd">T</kbd>
      <kbd class="kbd">Y</kbd>
      <kbd class="kbd">U</kbd>
      <kbd class="kbd">I</kbd>
      <kbd class="kbd">O</kbd>
      <kbd class="kbd">P</kbd>
    </div>
    <div class="keyboard__row" style="margin-left: 20px;">
      <kbd class="kbd">A</kbd>
      <kbd class="kbd">S</kbd>
      <kbd class="kbd">D</kbd>
      <kbd class="kbd">F</kbd>
      <kbd class="kbd">G</kbd>
      <kbd class="kbd">H</kbd>
      <kbd class="kbd">J</kbd>
      <kbd class="kbd">K</kbd>
      <kbd class="kbd">L</kbd>
    </div>
    <div class="keyboard__row" style="margin-left: 40px;">
      <kbd class="kbd">Z</kbd>
      <kbd class="kbd">X</kbd>
      <kbd class="kbd">C</kbd>
      <kbd class="kbd">V</kbd>
      <kbd class="kbd">B</kbd>
      <kbd class="kbd">N</kbd>
      <kbd class="kbd">M</kbd>
    </div>
  </div>
</div>
