<!-- Skeleton: List Skeleton -->
<div class="demo-showcase">
  <div class="skeleton-list" style="max-width: 400px;">
    <div class="skeleton-list__item">
      <div class="skeleton skeleton--avatar"></div>
      <div class="skeleton-list__content">
        <div class="skeleton skeleton--text skeleton--w-3/4"></div>
        <div class="skeleton skeleton--text skeleton--xs skeleton--w-1/2"></div>
      </div>
    </div>
    <div class="skeleton-list__item">
      <div class="skeleton skeleton--avatar"></div>
      <div class="skeleton-list__content">
        <div class="skeleton skeleton--text skeleton--w-3/4"></div>
        <div class="skeleton skeleton--text skeleton--xs skeleton--w-1/2"></div>
      </div>
    </div>
    <div class="skeleton-list__item">
      <div class="skeleton skeleton--avatar"></div>
      <div class="skeleton-list__content">
        <div class="skeleton skeleton--text skeleton--w-3/4"></div>
        <div class="skeleton skeleton--text skeleton--xs skeleton--w-1/2"></div>
      </div>
    </div>
  </div>
</div>
