<!-- Bottom Navigation (Mobile App Style) Variant -->
<div class="demo-showcase--full">
  <div style="position: relative; height: 80px; border: 1px solid var(--border-default); border-radius: var(--radius-lg); overflow: hidden;">
    <nav class="navbar navbar--bottom" style="position: absolute;">
      <div class="navbar__menu" style="display: flex;">
        <a href="#" class="navbar__link is-active">
          <svg class="navbar__link-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
          </svg>
          Home
        </a>
        <a href="#" class="navbar__link">
          <svg class="navbar__link-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"/>
          </svg>
          Search
        </a>
        <a href="#" class="navbar__link">
          <svg class="navbar__link-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"/>
          </svg>
          Create
        </a>
        <a href="#" class="navbar__link">
          <svg class="navbar__link-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6z"/>
          </svg>
          Alerts
        </a>
        <a href="#" class="navbar__link">
          <svg class="navbar__link-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"/>
          </svg>
          Profile
        </a>
      </div>
    </nav>
  </div>
</div>
