<!-- Rating: Emoji Rating -->
<div class="demo-showcase">
  <div class="rating rating--emoji">
    <input type="radio" id="emoji1" name="emoji-rating" value="1">
    <label for="emoji1">&#128545;</label>
    <input type="radio" id="emoji2" name="emoji-rating" value="2">
    <label for="emoji2">&#128533;</label>
    <input type="radio" id="emoji3" name="emoji-rating" value="3">
    <label for="emoji3">&#128528;</label>
    <input type="radio" id="emoji4" name="emoji-rating" value="4" checked>
    <label for="emoji4">&#128578;</label>
    <input type="radio" id="emoji5" name="emoji-rating" value="5">
    <label for="emoji5">&#128525;</label>
  </div>
</div>
