<!-- Rating: Heart Rating -->
<div class="demo-showcase">
  <div class="rating rating--interactive rating--hearts">
    <input type="radio" id="heart5" name="heart-rating" value="5">
    <label for="heart5" title="5 hearts">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
      </svg>
    </label>
    <input type="radio" id="heart4" name="heart-rating" value="4" checked>
    <label for="heart4" title="4 hearts">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
      </svg>
    </label>
    <input type="radio" id="heart3" name="heart-rating" value="3">
    <label for="heart3" title="3 hearts">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
      </svg>
    </label>
    <input type="radio" id="heart2" name="heart-rating" value="2">
    <label for="heart2" title="2 hearts">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
      </svg>
    </label>
    <input type="radio" id="heart1" name="heart-rating" value="1">
    <label for="heart1" title="1 heart">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"/>
      </svg>
    </label>
  </div>
</div>
