<!-- Radio: Group (Horizontal) -->
<div class="demo-showcase">
  <div class="radio-group radio-group--horizontal">
    <label class="radio">
      <input type="radio" class="radio__input" name="size" value="s">
      <span class="radio__circle"></span>
      <span class="radio__label">Small</span>
    </label>
    <label class="radio">
      <input type="radio" class="radio__input" name="size" value="m" checked>
      <span class="radio__circle"></span>
      <span class="radio__label">Medium</span>
    </label>
    <label class="radio">
      <input type="radio" class="radio__input" name="size" value="l">
      <span class="radio__circle"></span>
      <span class="radio__label">Large</span>
    </label>
    <label class="radio">
      <input type="radio" class="radio__input" name="size" value="xl">
      <span class="radio__circle"></span>
      <span class="radio__label">X-Large</span>
    </label>
  </div>
</div>
