<!-- Radio: Group (Vertical) -->
<div class="demo-showcase">
  <div class="radio-group">
    <label class="radio">
      <input type="radio" class="radio__input" name="plan" value="free">
      <span class="radio__circle"></span>
      <span class="radio__label">Free Plan</span>
    </label>
    <label class="radio">
      <input type="radio" class="radio__input" name="plan" value="pro" checked>
      <span class="radio__circle"></span>
      <span class="radio__label">Pro Plan</span>
    </label>
    <label class="radio">
      <input type="radio" class="radio__input" name="plan" value="enterprise">
      <span class="radio__circle"></span>
      <span class="radio__label">Enterprise Plan</span>
    </label>
  </div>
</div>
