<!-- Radio: States -->
<div class="demo-showcase demo-row">
  <label class="radio">
    <input type="radio" class="radio__input" name="demo2" value="1">
    <span class="radio__circle"></span>
    <span class="radio__label">Default</span>
  </label>
  <label class="radio">
    <input type="radio" class="radio__input" name="demo3" disabled>
    <span class="radio__circle"></span>
    <span class="radio__label">Disabled</span>
  </label>
  <label class="radio">
    <input type="radio" class="radio__input" name="demo4" disabled checked>
    <span class="radio__circle"></span>
    <span class="radio__label">Disabled Checked</span>
  </label>
</div>
