<!-- Tooltip: On Buttons -->
<div class="demo-showcase">
  <div class="demo-row" style="padding-top: 48px;">
    <span class="tooltip" data-tooltip="Save your changes">
      <button class="btn btn--primary">Save</button>
    </span>
    <span class="tooltip" data-tooltip="Delete this item permanently">
      <button class="btn btn--danger">Delete</button>
    </span>
    <span class="tooltip tooltip--bottom" data-tooltip="This action is disabled">
      <button class="btn" disabled>Disabled</button>
    </span>
  </div>
</div>
