<!-- Tooltip: On Icon Buttons -->
<div class="demo-showcase">
  <div class="demo-row" style="padding-top: 48px;">
    <span class="tooltip" data-tooltip="Edit">
      <button class="btn btn--secondary btn--icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path d="M12.1 1.9a1.5 1.5 0 012.1 2.1l-9 9-3 1 1-3 9-9z"/>
        </svg>
      </button>
    </span>
    <span class="tooltip" data-tooltip="Delete">
      <button class="btn btn--secondary btn--icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path d="M5.5 5.5v6m2.5-6v6m2.5-6v6M3 3.5h10l-.5 10.5a1 1 0 01-1 .5H4.5a1 1 0 01-1-.5L3 3.5zm2-2h6v2H5v-2z"/>
        </svg>
      </button>
    </span>
    <span class="tooltip" data-tooltip="Share">
      <button class="btn btn--secondary btn--icon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path d="M13 5a2 2 0 100-4 2 2 0 000 4zM3 10a2 2 0 100-4 2 2 0 000 4zM13 15a2 2 0 100-4 2 2 0 000 4zM4.7 8.8l6.6 3.4M11.3 3.8L4.7 7.2"/>
        </svg>
      </button>
    </span>
  </div>
</div>
