<!-- Form Group: Error State -->
<div class="demo-showcase--full">
  <div style="max-width: 400px;">
    <div class="form-group form-group--error">
      <label class="form-group__label form-group__label--required">Password</label>
      <input class="input" type="password" value="123">
      <span class="form-group__error">
        <svg class="form-group__error-icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"/>
        </svg>
        Password must be at least 8 characters long.
      </span>
    </div>
  </div>
</div>
