<!-- Form Group: Success State -->
<div class="demo-showcase--full">
  <div style="max-width: 400px;">
    <div class="form-group form-group--success">
      <label class="form-group__label">Username</label>
      <input class="input" type="text" value="johndoe">
      <span class="form-group__success">
        <svg class="form-group__error-icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"/>
        </svg>
        Username is available!
      </span>
    </div>
  </div>
</div>
