<div class="demo-showcase">
  <ul class="tree tree--compact">
    <li class="tree__item is-expanded">
      <div class="tree__node">
        <button class="tree__toggle">
          <svg viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
          </svg>
        </button>
        <span class="tree__label">Root</span>
      </div>
      <ul class="tree__children">
        <li class="tree__item is-expanded">
          <div class="tree__node">
            <button class="tree__toggle">
              <svg viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
              </svg>
            </button>
            <span class="tree__label">Child 1</span>
          </div>
          <ul class="tree__children">
            <li class="tree__item">
              <div class="tree__node">
                <span class="tree__toggle tree__toggle--placeholder"></span>
                <span class="tree__label">Leaf 1</span>
              </div>
            </li>
            <li class="tree__item">
              <div class="tree__node">
                <span class="tree__toggle tree__toggle--placeholder"></span>
                <span class="tree__label">Leaf 2</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="tree__item">
          <div class="tree__node">
            <span class="tree__toggle tree__toggle--placeholder"></span>
            <span class="tree__label">Child 2</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
