<div class="demo-showcase">
  <ul class="tree tree--lines">
    <li class="tree__item is-expanded">
      <div class="tree__node">
        <button class="tree__toggle">
          <svg viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
          </svg>
        </button>
        <svg class="tree__icon tree__icon--folder" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"/>
        </svg>
        <span class="tree__label">src</span>
      </div>
      <ul class="tree__children">
        <li class="tree__item is-expanded">
          <div class="tree__node">
            <button class="tree__toggle">
              <svg viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
              </svg>
            </button>
            <svg class="tree__icon tree__icon--folder" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"/>
            </svg>
            <span class="tree__label">components</span>
          </div>
          <ul class="tree__children">
            <li class="tree__item">
              <div class="tree__node">
                <span class="tree__toggle tree__toggle--placeholder"></span>
                <svg class="tree__icon tree__icon--file" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z"/>
                </svg>
                <span class="tree__label">Button.tsx</span>
              </div>
            </li>
            <li class="tree__item">
              <div class="tree__node">
                <span class="tree__toggle tree__toggle--placeholder"></span>
                <svg class="tree__icon tree__icon--file" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z"/>
                </svg>
                <span class="tree__label">Card.tsx</span>
              </div>
            </li>
            <li class="tree__item">
              <div class="tree__node">
                <span class="tree__toggle tree__toggle--placeholder"></span>
                <svg class="tree__icon tree__icon--file" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z"/>
                </svg>
                <span class="tree__label">Modal.tsx</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="tree__item">
          <div class="tree__node">
            <span class="tree__toggle tree__toggle--placeholder"></span>
            <svg class="tree__icon tree__icon--file" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z"/>
            </svg>
            <span class="tree__label">index.ts</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
