<div class="demo-showcase">
  <ul class="tree">
    <li class="tree__item is-expanded">
      <div class="tree__node">
        <button class="tree__toggle">
          <svg viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/>
          </svg>
        </button>
        <input type="checkbox" class="tree__checkbox checkbox" checked>
        <span class="tree__label">Select All Features</span>
      </div>
      <ul class="tree__children">
        <li class="tree__item">
          <div class="tree__node">
            <span class="tree__toggle tree__toggle--placeholder"></span>
            <input type="checkbox" class="tree__checkbox checkbox" checked>
            <span class="tree__label">Authentication</span>
          </div>
        </li>
        <li class="tree__item">
          <div class="tree__node">
            <span class="tree__toggle tree__toggle--placeholder"></span>
            <input type="checkbox" class="tree__checkbox checkbox" checked>
            <span class="tree__label">Database</span>
          </div>
        </li>
        <li class="tree__item">
          <div class="tree__node">
            <span class="tree__toggle tree__toggle--placeholder"></span>
            <input type="checkbox" class="tree__checkbox checkbox">
            <span class="tree__label">Analytics (Optional)</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
