<!-- Slider: Price Range (Two Handles) -->
<div class="demo-showcase">
  <div class="slider slider--range" style="max-width: 400px;">
    <div class="slider__header">
      <label class="slider__label">Price Range</label>
      <span>
        <span data-range-min>$200</span> - <span data-range-max>$800</span>
      </span>
    </div>
    <div class="slider__track">
      <div class="slider__track-fill" style="left: 20%; width: 60%;"></div>
    </div>
    <div class="slider__inputs">
      <input type="range" class="slider__input" min="0" max="1000" value="200" data-prefix="$">
      <input type="range" class="slider__input" min="0" max="1000" value="800" data-prefix="$">
    </div>
    <div class="slider__ticks">
      <span class="slider__tick">$0</span>
      <span class="slider__tick">$500</span>
      <span class="slider__tick">$1000</span>
    </div>
  </div>
</div>
