<div class="demo-showcase--full">
  <table class="table table--bordered">
    <thead>
      <tr>
        <th>Month</th>
        <th class="table__cell--right">Revenue</th>
        <th class="table__cell--right">Expenses</th>
        <th class="table__cell--right">Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td class="table__cell--right">$45,000</td>
        <td class="table__cell--right">$32,000</td>
        <td class="table__cell--right">$13,000</td>
      </tr>
      <tr>
        <td>February</td>
        <td class="table__cell--right">$52,000</td>
        <td class="table__cell--right">$35,000</td>
        <td class="table__cell--right">$17,000</td>
      </tr>
      <tr>
        <td>March</td>
        <td class="table__cell--right">$48,000</td>
        <td class="table__cell--right">$31,000</td>
        <td class="table__cell--right">$17,000</td>
      </tr>
    </tbody>
  </table>
</div>
