<div class="demo-showcase">
  <table class="table table--compact table--bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Value</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>ABC</td><td>100</td><td>A</td></tr>
      <tr><td>2</td><td>DEF</td><td>200</td><td>B</td></tr>
      <tr><td>3</td><td>GHI</td><td>300</td><td>A</td></tr>
      <tr><td>4</td><td>JKL</td><td>400</td><td>C</td></tr>
      <tr><td>5</td><td>MNO</td><td>500</td><td>B</td></tr>
    </tbody>
  </table>
</div>
