<div class="demo-showcase">
  <table class="table table--striped table--hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Category</th>
        <th class="table__cell--right">Price</th>
        <th class="table__cell--right">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Laptop Pro</td>
        <td>Electronics</td>
        <td class="table__cell--right">$1,299</td>
        <td class="table__cell--right">24</td>
      </tr>
      <tr>
        <td>Wireless Mouse</td>
        <td>Accessories</td>
        <td class="table__cell--right">$49</td>
        <td class="table__cell--right">156</td>
      </tr>
      <tr>
        <td>USB-C Hub</td>
        <td>Accessories</td>
        <td class="table__cell--right">$79</td>
        <td class="table__cell--right">89</td>
      </tr>
      <tr>
        <td>Monitor 27"</td>
        <td>Electronics</td>
        <td class="table__cell--right">$399</td>
        <td class="table__cell--right">12</td>
      </tr>
      <tr>
        <td>Keyboard</td>
        <td>Accessories</td>
        <td class="table__cell--right">$129</td>
        <td class="table__cell--right">67</td>
      </tr>
    </tbody>
  </table>
</div>
