<!-- Tag: With Avatar -->
<div class="demo-showcase">
  <div class="tag-group">
    <span class="tag">
      <img src="https://i.pravatar.cc/32?img=1" alt="" class="tag__avatar">
      John Doe
    </span>
    <span class="tag tag--primary">
      <img src="https://i.pravatar.cc/32?img=5" alt="" class="tag__avatar">
      Sarah Smith
    </span>
    <span class="tag tag--outline">
      <img src="https://i.pravatar.cc/32?img=12" alt="" class="tag__avatar">
      Mike Johnson
    </span>
  </div>
</div>
