<div class="demo-showcase">
  <div class="steps steps--dots">
    <div class="steps__item is-complete">
      <div class="steps__indicator"><span class="steps__number"></span></div>
      <div class="steps__content">
        <p class="steps__title">Cart</p>
      </div>
    </div>
    <div class="steps__item is-complete">
      <div class="steps__indicator"><span class="steps__number"></span></div>
      <div class="steps__content">
        <p class="steps__title">Shipping</p>
      </div>
    </div>
    <div class="steps__item is-active">
      <div class="steps__indicator"><span class="steps__number"></span></div>
      <div class="steps__content">
        <p class="steps__title">Payment</p>
      </div>
    </div>
    <div class="steps__item">
      <div class="steps__indicator"><span class="steps__number"></span></div>
      <div class="steps__content">
        <p class="steps__title">Confirmation</p>
      </div>
    </div>
  </div>
</div>
