<div class="demo-showcase--full">
  <div class="steps-progress" style="max-width: 500px;">
    <div class="steps-progress__bar">
      <div class="steps-progress__fill" style="width: 60%;"></div>
    </div>
    <div class="steps-progress__labels">
      <span class="steps-progress__label">Cart</span>
      <span class="steps-progress__label">Shipping</span>
      <span class="steps-progress__label is-active">Payment</span>
      <span class="steps-progress__label">Done</span>
    </div>
  </div>
</div>
