<div class="demo-showcase">
  <div class="timeline timeline--dashed" style="max-width: 400px;">
    <div class="timeline__item">
      <div class="timeline__marker timeline__marker--filled"></div>
      <div class="timeline__content">
        <div class="timeline__title">Q1 Goals</div>
        <div class="timeline__time">January - March</div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker timeline__marker--filled"></div>
      <div class="timeline__content">
        <div class="timeline__title">Q2 Goals</div>
        <div class="timeline__time">April - June</div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker"></div>
      <div class="timeline__content">
        <div class="timeline__title">Q3 Goals</div>
        <div class="timeline__time">July - September</div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker"></div>
      <div class="timeline__content">
        <div class="timeline__title">Q4 Goals</div>
        <div class="timeline__time">October - December</div>
      </div>
    </div>
  </div>
</div>
