<div class="demo-showcase--full">
  <div class="timeline timeline--lg">
    <div class="timeline__item">
      <div class="timeline__marker timeline__marker--icon timeline__marker--success">
        <svg viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"/>
        </svg>
      </div>
      <div class="timeline__content">
        <div class="timeline__title">Account Created</div>
        <div class="timeline__time">March 1, 2024</div>
        <div class="timeline__description">Welcome to the platform! Your account is ready to use.</div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker timeline__marker--icon">
        <svg viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838l-2.727 1.17 1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0z"/>
        </svg>
      </div>
      <div class="timeline__content">
        <div class="timeline__title">Completed Onboarding</div>
        <div class="timeline__time">March 2, 2024</div>
        <div class="timeline__description">Finished all 5 onboarding steps.</div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker timeline__marker--icon timeline__marker--warning">
        <svg viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"/>
        </svg>
      </div>
      <div class="timeline__content">
        <div class="timeline__title">Subscription Expiring</div>
        <div class="timeline__time">March 10, 2024</div>
        <div class="timeline__description">Your subscription will expire in 7 days. Renew now to avoid interruption.</div>
      </div>
    </div>
  </div>
</div>
